{
  "extends": ["zavatta", "zavatta-react", "prettier", "prettier/react"],
  "globals": {
    "__BROWSER__": false,
    "__ENV__": false,
    "__DEV__": false,
    "__PROD__": false,
    "__URL__": false,
    "__APIURL__": false,
    "__PREVIEW__": false,
  },
  "rules": {
    "no-inline-comments": 0,
    "no-void": 0,
    "id-length": 0,
  },
}
